<div class="container">

  <app-header></app-header>
  <app-menu></app-menu>
  <div class="row">
    <div class="padding-0 col-md-12">
      <div class="left-menu col-md-3">
        <ul class="list-group">
          <li class="list-group-item">item1</li>
          <li class="list-group-item">item1</li>
          <li class="list-group-item">item1</li>
          <li class="list-group-item">item1</li>
          <li class="list-group-item">item1</li>
          <li class="list-group-item">item1</li>
          <li class="list-group-item">item1</li>
        </ul>
      </div>
      <div class="col-md-3">
        <div style="" class="panel panel-default">
          <div  class="background-green panel-header panel-heading">Scholarship</div>
          <div class="col-3-height panel-body">body</div>
          <div class="panel-footer"> total scholarship</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-header background-blue panel-heading">Tutorials</div>
          <div class="col-3-height panel-body">body</div>
          <div class="panel-footer"> total solved problem</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-header background-orange panel-heading">Jobs</div>
          <div class="col-3-height panel-body">body</div>
          <div class="panel-footer"> total jobs</div>
        </div>
      </div>

    </div>
  </div>
<div class="row">
  <div class="content">

  </div>
</div>
<div class="row ">
<div class="container">
  <div style="height: 300px" class="col-md-12 well">body</div>
</div>
</div>

  <app-footer></app-footer>

</div>
